.slides-wrapper
  %section#presentation
    %article
      %h1 Simple presentation engine
      .pointer Click to continue --&gt;

    %article
      %h1
        You can use
        %kbd Left
        or
        %kbd Right
        arrow keys

    %article
      %h1
        And others...
      %p
        <kbd>PgUp</kbd>,
        <kbd>PgDown</kbd>,
        <kbd>Home</kbd>,
        <kbd>End</kbd>,
        <kbd>Space</kbd>

    %article
      %h1 This engine supports
      %ul
        %li
          Different tags
          %ul
            %li Lists
            %li Code
            %li Blockqoute
            %li Images
            %li Tables
            %li Links
        %li
          Navigation (with mouse, keyboard and
          = link_to 'location hash', '#4'
          )
        %li Automatic font-size tuning

    %article
      %h1 It doesn't supports (yet)
      %ol
        %li
          Javascriptlessness.
          But
          = link_to 'this', 'http://ignovak.github.com/presentation/nojs.html', target: '_blank'
          page does!
        %li Code highlighting
        %li Markdown
        %li Transform animation effects
        %li
          \...And other things
          = link_to 'impress.js', 'http://bartaz.github.com/impress.js', target: '_blank'
          does

    %article
      %h1 Usage
      %p
        Put each page of your presentation into an
        %code
          &lt;article&gt;
        tag.
      %p Wrap pages with some element.
      %pre
        %code
          = preserve do
            :escaped
              <section id='presentation'>

                <article>
                  <h1>Simple presentation engine</h1>
                  <p>Click to continue</p>
                </article>

              </section>

    %article
      %h1 Usage
      %p Then include jquery.js, presentation.js and this code:
      %pre
        %code
          :preserve
            $(function() {
              $('#presentation').present({
                prevBtn: '.btn.prev',
                nextBtn: '.btn.next',
                fadeDelay: 300 // default: 0
              });
            });

    %article
      %h1 Image
      = image_tag 'linus.jpg'

    %article
      %h1
        Abstruse quote
      %blockquote
        %q I was sorry to have my name mentioned as one of the great authors, because they have a sad habit of dying off. Chaucer is dead, Spencer is dead, so is Milton, so is Shakespeare, and I’m not feeling so well myself.
        %cite Mark Twain

    %article
      %h1 Table
      %table
        %tr
          %td Here
          %td should
          %td be
        %tr
          %td some
          %td reasonable
          %td table
        %tr
          %td but
          %td ...
          %td

    %article
      %h1 That's it
