!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    = stylesheet_link_tag 'main.css'
    = javascript_include_tag 'jquery.min.js'
    = javascript_include_tag 'main.js'
    = yield_content :head

  %body
    = yield
